<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Title:</strong>
  <%= @user.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @user.rating %>
</p>

<p>
  <strong>Total ratings:</strong>
  <%= @user.total_ratings %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
<a href="/home">Home</a>

<div>
  <form action="" method="POST">
    <script type="text/javascript"
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="pk_test_NaagdnWduin4tQPrZACSBq2o"
      data-amount= '$100'
      data-name="Devinder"
      data-description="" 
      data-image="">
    </script>
  </form>
</div>
<form action="/project_details/<%= @user.id %>/offer" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <select name="p_id">
    <% @current_user.projects.each do |p| %>
    <option value="<%= p.id %>"><%= p.title %></option>
    <% end %>
  </select>
  <button>Make Offer</button>
</form>
<%= link_to 'Offers', offers_user_path  %>
