<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Client:</strong>
  <%= @project.users[0].name %>
</p>
<% if @project.users.include?(current_user) %>
  <% current_pd = @project.project_details.select { |pd| pd.user == current_user }[0] %>
  <% if current_pd.project_status || current_pd.offer_status || ( current_pd.project_status.nil? && current_pd.offer_status.nil? ) %>
<p>
  <strong>Contributors:</strong>
  <ul>
  <% @project.project_details.select { |pd| pd.project_status || pd.offer_status }.each do |pd| %>
    <li><%= pd.user.name %></li>
  <% end %>
  </ul>
</p>
<% end %>
<% if @project.users[0] == current_user %>
<p>
  <strong>Interested Contributors:</strong>
  <ul>
  <% @project.project_details.reject { |pd| pd.project_status || pd.offer_status || pd.project_status.nil? }.each do |pd| %>
    <li>
      <%= pd.user.name %> | 
      <a href="/project_details/<%= pd.id %>/contribute" data-method="patch">Accept</a> | 
      <a href="/project_details/<%= pd.id %>/contribute" data-method="delete">Reject</a>
    </li>
  <% end %>
  </ul>
</p>
<% end %>
<% end %>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %> |
<a href="/home">Home</a> |
<a href="/project_details/<%= @project.id %>/contribute" data-method="post">Contribute</a>
